<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= todo.text %>
    </title>
</head>

<body>
    <div id="todo-detail">
        <%- include('_todo-detail') %>
    </div>
    <form action="/update-name/<%=todo.id %>" method="post">
        <label for="name">Change todo name:</label>
        <input type="text" name="text" />
        <button type="submit">OK</button>
    </form>
    <script>
        const ws = new WebSocket(`ws://localhost:3000`)
        const todoId = parseInt('<%= todo.id %>')

        ws.addEventListener('message', (message) => {
            const json = JSON.parse(message.data)
            if (json.type === 'todo-detail' && json.todoId === todoId) {
                document.getElementById('todo-detail').innerHTML = json.html
            } else if (json.type === 'todo-deleted' && json.todoId === todoId) {
                if (json.deletedFromDetail) {
                    /* TO-DO: when both are viewing detail and one of them deletes, 
                    only the intiator should get redirected to '/', others to '/todo-deleted'*/
                    
                    //if connection is initiator
                    window.location.replace('/')
                    // if connection is not initiator
                    //window.location.replace('/todo-deleted')
                } else {
                    window.location.replace('/todo-deleted')
                }
            }
        })

    </script>
</body>

</html>