<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo App</title>
</head>

<body>
    <h1>ToDo App</h1>
    <hr>
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="name" />
        <input type="password" name="password" />
        <button type="submit">Login</button>
    </form>
    <hr>
    <h1>Not registred yet?</h1>
    <a href="/register">Sign up</a>
</body>

</html>